--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: mentorship_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_feedback (
    id bigint NOT NULL,
    submitted_at timestamp with time zone NOT NULL,
    session_rating smallint NOT NULL,
    content_clarity character varying(10) NOT NULL,
    relevance character varying(10) NOT NULL,
    structure character varying(10) NOT NULL,
    mentor_support character varying(10) NOT NULL,
    mentor_listening character varying(10) NOT NULL,
    mentor_knowledge character varying(10) NOT NULL,
    mentor_rating smallint NOT NULL,
    learning text NOT NULL,
    expectations_met character varying(10) NOT NULL,
    expectations_explanation text NOT NULL,
    mentee_id bigint NOT NULL,
    mentor_id bigint NOT NULL,
    session_id bigint NOT NULL,
    CONSTRAINT mentorship_feedback_mentor_rating_check CHECK ((mentor_rating >= 0)),
    CONSTRAINT mentorship_feedback_session_rating_check CHECK ((session_rating >= 0))
);


ALTER TABLE public.mentorship_feedback OWNER TO postgres;

--
-- Name: mentorship_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_feedback ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_feedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_interest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_interest (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.mentorship_interest OWNER TO postgres;

--
-- Name: mentorship_interest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_interest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_interest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_mentee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_mentee (
    id bigint NOT NULL,
    location character varying(255),
    bio text,
    profile_picture character varying(100),
    user_id integer NOT NULL,
    contact character varying(100)
);


ALTER TABLE public.mentorship_mentee OWNER TO postgres;

--
-- Name: mentorship_mentee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_mentee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_mentee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_mentee_interests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_mentee_interests (
    id bigint NOT NULL,
    mentee_id bigint NOT NULL,
    interest_id bigint NOT NULL
);


ALTER TABLE public.mentorship_mentee_interests OWNER TO postgres;

--
-- Name: mentorship_mentee_interests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_mentee_interests ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_mentee_interests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_mentor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_mentor (
    id bigint NOT NULL,
    location character varying(255),
    availability_status character varying(20) NOT NULL,
    bio text,
    profile_picture character varying(100),
    user_id integer NOT NULL,
    availability character varying(255),
    company character varying(255),
    experience_years integer,
    price_per_session numeric(6,2),
    rating numeric(2,1),
    reviews_count integer NOT NULL,
    title character varying(255),
    availabile_time timestamp with time zone,
    available_date timestamp with time zone,
    contact character varying(100)
);


ALTER TABLE public.mentorship_mentor OWNER TO postgres;

--
-- Name: mentorship_mentor_expertise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_mentor_expertise (
    id bigint NOT NULL,
    mentor_id bigint NOT NULL,
    interest_id bigint NOT NULL
);


ALTER TABLE public.mentorship_mentor_expertise OWNER TO postgres;

--
-- Name: mentorship_mentor_expertise_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_mentor_expertise ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_mentor_expertise_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_mentor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_mentor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_mentor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_mentorevaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_mentorevaluation (
    id bigint NOT NULL,
    evaluation_date date NOT NULL,
    punctuality character varying(20) NOT NULL,
    preparedness character varying(20) NOT NULL,
    participation character varying(20) NOT NULL,
    responsiveness character varying(10) NOT NULL,
    initiative character varying(3) NOT NULL,
    initiative_comment text,
    progress character varying(20) NOT NULL,
    improvement_since_last text,
    key_skills text,
    challenges text,
    tasks_completed character varying(3) NOT NULL,
    tasks_comment text,
    strengths text,
    areas_for_improvement text,
    overall_evaluation character varying(20) NOT NULL,
    recommend_advanced character varying(3) NOT NULL,
    recommend_comment text,
    mentee_id bigint NOT NULL,
    mentor_id bigint NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.mentorship_mentorevaluation OWNER TO postgres;

--
-- Name: mentorship_mentorevaluation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_mentorevaluation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_mentorevaluation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_mentorshiprequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_mentorshiprequest (
    id bigint NOT NULL,
    request_date timestamp with time zone NOT NULL,
    message text NOT NULL,
    status character varying(10) NOT NULL,
    response_date timestamp with time zone,
    rejection_reason text,
    mentee_id bigint NOT NULL,
    mentor_id bigint NOT NULL,
    is_session_scheduled boolean NOT NULL
);


ALTER TABLE public.mentorship_mentorshiprequest OWNER TO postgres;

--
-- Name: mentorship_mentorshiprequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_mentorshiprequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_mentorshiprequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_message (
    id bigint NOT NULL,
    content text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    is_read boolean NOT NULL,
    mentorship_request_id bigint,
    recipient_id integer NOT NULL,
    sender_id integer NOT NULL
);


ALTER TABLE public.mentorship_message OWNER TO postgres;

--
-- Name: mentorship_message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_notification (
    id bigint NOT NULL,
    message text NOT NULL,
    notification_type character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    is_read boolean NOT NULL,
    recipient_id integer NOT NULL,
    related_request_id bigint
);


ALTER TABLE public.mentorship_notification OWNER TO postgres;

--
-- Name: mentorship_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mentorship_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentorship_session (
    id bigint NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    session_type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    location_details character varying(255),
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    mentorship_request_id bigint NOT NULL
);


ALTER TABLE public.mentorship_session OWNER TO postgres;

--
-- Name: mentorship_session_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mentorship_session ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mentorship_session_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_tracking_goal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_tracking_goal (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    priority character varying(10) NOT NULL,
    status character varying(15) NOT NULL,
    target_date date NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    progress_percentage integer NOT NULL,
    mentee_id integer NOT NULL,
    mentor_id integer
);


ALTER TABLE public.progress_tracking_goal OWNER TO postgres;

--
-- Name: progress_tracking_goal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.progress_tracking_goal ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_tracking_goal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_tracking_mentorshipsession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_tracking_mentorshipsession (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    topic character varying(200) NOT NULL,
    duration interval NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    mentee_id integer NOT NULL,
    mentor_id integer NOT NULL
);


ALTER TABLE public.progress_tracking_mentorshipsession OWNER TO postgres;

--
-- Name: progress_tracking_mentorshipsession_goals_discussed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_tracking_mentorshipsession_goals_discussed (
    id bigint NOT NULL,
    mentorshipsession_id bigint NOT NULL,
    goal_id bigint NOT NULL
);


ALTER TABLE public.progress_tracking_mentorshipsession_goals_discussed OWNER TO postgres;

--
-- Name: progress_tracking_mentorshipsession_goals_discussed_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.progress_tracking_mentorshipsession_goals_discussed ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_tracking_mentorshipsession_goals_discussed_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_tracking_mentorshipsession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.progress_tracking_mentorshipsession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_tracking_mentorshipsession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_tracking_progressentry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_tracking_progressentry (
    id bigint NOT NULL,
    date date NOT NULL,
    description text NOT NULL,
    completion_percentage integer NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    goal_id bigint NOT NULL,
    recorded_by_id integer NOT NULL
);


ALTER TABLE public.progress_tracking_progressentry OWNER TO postgres;

--
-- Name: progress_tracking_progressentry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.progress_tracking_progressentry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_tracking_progressentry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports_report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_report (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    generated_at timestamp with time zone NOT NULL,
    data jsonb NOT NULL,
    generated_by_id integer NOT NULL
);


ALTER TABLE public.reports_report OWNER TO postgres;

--
-- Name: reports_report_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reports_report ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_report_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: resources_resource; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resources_resource (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    file character varying(100),
    link character varying(200) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    uploader_id integer NOT NULL,
    download_count integer NOT NULL
);


ALTER TABLE public.resources_resource OWNER TO postgres;

--
-- Name: resources_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.resources_resource ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.resources_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	mentorship	interest
8	mentorship	mentee
9	mentorship	mentor
10	mentorship	mentorshiprequest
11	mentorship	notification
12	mentorship	session
13	mentorship	message
14	resources	resource
15	reports	report
16	progress_tracking	goal
17	progress_tracking	mentorshipsession
18	progress_tracking	progressentry
19	mentorship	feedback
20	mentorship	mentorevaluation
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
3xpu2pi3qynabth9br5jdm46k43azrb5	.eJxVjEEOwiAQRe_C2hCgQBmX7j0DmWGoVA0kpV0Z765NutDtf-_9l4i4rSVuPS9xZnEWRpx-N8L0yHUHfMd6azK1ui4zyV2RB-3y2jg_L4f7d1Cwl28NaWDrIASNAI6n5INySkPmpD1OgQbKMGbjjRqRAlpg1JqsJQ8KrRbvD9z8N6s:1ucfNW:tkeREuacXnMLZtkDDjICabCvCEczCAEwVmp4XpuebVQ	2025-08-01 10:19:34.480851+03
\.


--
-- Data for Name: mentorship_feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_feedback (id, submitted_at, session_rating, content_clarity, relevance, structure, mentor_support, mentor_listening, mentor_knowledge, mentor_rating, learning, expectations_met, expectations_explanation, mentee_id, mentor_id, session_id) FROM stdin;
\.


--
-- Data for Name: mentorship_interest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_interest (id, name) FROM stdin;
1	UI/UX
2	Machine Learning
3	MachineLearning
4	Artificial Intelligience
5	Dev
\.


--
-- Data for Name: mentorship_mentee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_mentee (id, location, bio, profile_picture, user_id, contact) FROM stdin;
4	London	a student at muk	mentee_pics/Screenshot_53.png	5	\N
\.


--
-- Data for Name: mentorship_mentee_interests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_mentee_interests (id, mentee_id, interest_id) FROM stdin;
5	4	2
6	4	5
\.


--
-- Data for Name: mentorship_mentor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_mentor (id, location, availability_status, bio, profile_picture, user_id, availability, company, experience_years, price_per_session, rating, reviews_count, title, availabile_time, available_date, contact) FROM stdin;
1	kololo	AVAILABLE	went to havard, oxford	mentor_pics/Screenshot_51.png	2	next week	CNN	10	2000.00	4.5	1000	CEO	\N	\N	\N
2	muyenga	AVAILABLE	went to oxford	mentor_pics/Screenshot_54.png	3	next hour	BBC	15	2500.00	5.0	2000	CIO	\N	\N	\N
3	London	AVAILABLE	went to Makerere	mentor_pics/Screenshot_50.png	4	next hour	Makerere	5	1500.00	4.0	800	HOD	\N	\N	\N
\.


--
-- Data for Name: mentorship_mentor_expertise; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_mentor_expertise (id, mentor_id, interest_id) FROM stdin;
1	1	2
2	1	4
3	2	1
4	3	1
5	3	5
\.


--
-- Data for Name: mentorship_mentorevaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_mentorevaluation (id, evaluation_date, punctuality, preparedness, participation, responsiveness, initiative, initiative_comment, progress, improvement_since_last, key_skills, challenges, tasks_completed, tasks_comment, strengths, areas_for_improvement, overall_evaluation, recommend_advanced, recommend_comment, mentee_id, mentor_id, session_id) FROM stdin;
\.


--
-- Data for Name: mentorship_mentorshiprequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_mentorshiprequest (id, request_date, message, status, response_date, rejection_reason, mentee_id, mentor_id, is_session_scheduled) FROM stdin;
1	2025-07-17 15:02:06.882518+03	hello mentor1, i need AI sessions. you are such a good one	ACCEPTED	2025-07-17 15:04:15.623869+03	\N	4	1	f
4	2025-07-18 10:19:06.696953+03	help on UI/UX	PENDING	\N	\N	4	1	f
\.


--
-- Data for Name: mentorship_message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_message (id, content, "timestamp", is_read, mentorship_request_id, recipient_id, sender_id) FROM stdin;
1	i hope you are well,lets schedule one at your convenient time	2025-07-17 15:05:34.768144+03	t	1	5	2
2	alright thank you!	2025-07-17 15:06:50.312864+03	f	1	2	5
\.


--
-- Data for Name: mentorship_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mentorship_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentorship_session (id, start_time, end_time, session_type, status, location_details, notes, created_at, updated_at, mentorship_request_id) FROM stdin;
\.


--
-- Data for Name: progress_tracking_goal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progress_tracking_goal (id, title, description, priority, status, target_date, created_at, updated_at, progress_percentage, mentee_id, mentor_id) FROM stdin;
\.


--
-- Data for Name: progress_tracking_mentorshipsession; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progress_tracking_mentorshipsession (id, date, topic, duration, notes, created_at, mentee_id, mentor_id) FROM stdin;
\.


--
-- Data for Name: progress_tracking_mentorshipsession_goals_discussed; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progress_tracking_mentorshipsession_goals_discussed (id, mentorshipsession_id, goal_id) FROM stdin;
\.


--
-- Data for Name: progress_tracking_progressentry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progress_tracking_progressentry (id, date, description, completion_percentage, notes, created_at, goal_id, recorded_by_id) FROM stdin;
\.


--
-- Data for Name: reports_report; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports_report (id, name, generated_at, data, generated_by_id) FROM stdin;
\.


--
-- Data for Name: resources_resource; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resources_resource (id, title, description, file, link, created_at, uploader_id, download_count) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 6, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 19, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 34, true);


--
-- Name: mentorship_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_feedback_id_seq', 1, false);


--
-- Name: mentorship_interest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_interest_id_seq', 5, true);


--
-- Name: mentorship_mentee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_mentee_id_seq', 4, true);


--
-- Name: mentorship_mentee_interests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_mentee_interests_id_seq', 6, true);


--
-- Name: mentorship_mentor_expertise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_mentor_expertise_id_seq', 5, true);


--
-- Name: mentorship_mentor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_mentor_id_seq', 3, true);


--
-- Name: mentorship_mentorevaluation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_mentorevaluation_id_seq', 1, false);


--
-- Name: mentorship_mentorshiprequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_mentorshiprequest_id_seq', 4, true);


--
-- Name: mentorship_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_message_id_seq', 2, true);


--
-- Name: mentorship_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_notification_id_seq', 6, true);


--
-- Name: mentorship_session_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentorship_session_id_seq', 1, false);


--
-- Name: progress_tracking_goal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progress_tracking_goal_id_seq', 1, false);


--
-- Name: progress_tracking_mentorshipsession_goals_discussed_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progress_tracking_mentorshipsession_goals_discussed_id_seq', 1, false);


--
-- Name: progress_tracking_mentorshipsession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progress_tracking_mentorshipsession_id_seq', 1, false);


--
-- Name: progress_tracking_progressentry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progress_tracking_progressentry_id_seq', 1, false);


--
-- Name: reports_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reports_report_id_seq', 1, false);


--
-- Name: resources_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resources_resource_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: mentorship_feedback mentorship_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_feedback
    ADD CONSTRAINT mentorship_feedback_pkey PRIMARY KEY (id);


--
-- Name: mentorship_feedback mentorship_feedback_session_id_mentee_id_315885db_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_feedback
    ADD CONSTRAINT mentorship_feedback_session_id_mentee_id_315885db_uniq UNIQUE (session_id, mentee_id);


--
-- Name: mentorship_interest mentorship_interest_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_interest
    ADD CONSTRAINT mentorship_interest_name_key UNIQUE (name);


--
-- Name: mentorship_interest mentorship_interest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_interest
    ADD CONSTRAINT mentorship_interest_pkey PRIMARY KEY (id);


--
-- Name: mentorship_mentee_interests mentorship_mentee_interests_mentee_id_interest_id_93791bdd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentee_interests
    ADD CONSTRAINT mentorship_mentee_interests_mentee_id_interest_id_93791bdd_uniq UNIQUE (mentee_id, interest_id);


--
-- Name: mentorship_mentee_interests mentorship_mentee_interests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentee_interests
    ADD CONSTRAINT mentorship_mentee_interests_pkey PRIMARY KEY (id);


--
-- Name: mentorship_mentee mentorship_mentee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentee
    ADD CONSTRAINT mentorship_mentee_pkey PRIMARY KEY (id);


--
-- Name: mentorship_mentee mentorship_mentee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentee
    ADD CONSTRAINT mentorship_mentee_user_id_key UNIQUE (user_id);


--
-- Name: mentorship_mentor_expertise mentorship_mentor_expertise_mentor_id_interest_id_48b93d07_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentor_expertise
    ADD CONSTRAINT mentorship_mentor_expertise_mentor_id_interest_id_48b93d07_uniq UNIQUE (mentor_id, interest_id);


--
-- Name: mentorship_mentor_expertise mentorship_mentor_expertise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentor_expertise
    ADD CONSTRAINT mentorship_mentor_expertise_pkey PRIMARY KEY (id);


--
-- Name: mentorship_mentor mentorship_mentor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentor
    ADD CONSTRAINT mentorship_mentor_pkey PRIMARY KEY (id);


--
-- Name: mentorship_mentor mentorship_mentor_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentor
    ADD CONSTRAINT mentorship_mentor_user_id_key UNIQUE (user_id);


--
-- Name: mentorship_mentorevaluation mentorship_mentorevaluat_session_id_mentor_id_men_03e529b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorevaluation
    ADD CONSTRAINT mentorship_mentorevaluat_session_id_mentor_id_men_03e529b0_uniq UNIQUE (session_id, mentor_id, mentee_id);


--
-- Name: mentorship_mentorevaluation mentorship_mentorevaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorevaluation
    ADD CONSTRAINT mentorship_mentorevaluation_pkey PRIMARY KEY (id);


--
-- Name: mentorship_mentorshiprequest mentorship_mentorshiprequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorshiprequest
    ADD CONSTRAINT mentorship_mentorshiprequest_pkey PRIMARY KEY (id);


--
-- Name: mentorship_message mentorship_message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_message
    ADD CONSTRAINT mentorship_message_pkey PRIMARY KEY (id);


--
-- Name: mentorship_notification mentorship_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_notification
    ADD CONSTRAINT mentorship_notification_pkey PRIMARY KEY (id);


--
-- Name: mentorship_session mentorship_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_session
    ADD CONSTRAINT mentorship_session_pkey PRIMARY KEY (id);


--
-- Name: progress_tracking_goal progress_tracking_goal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_goal
    ADD CONSTRAINT progress_tracking_goal_pkey PRIMARY KEY (id);


--
-- Name: progress_tracking_mentorshipsession_goals_discussed progress_tracking_mentor_mentorshipsession_id_goa_7c482549_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_mentorshipsession_goals_discussed
    ADD CONSTRAINT progress_tracking_mentor_mentorshipsession_id_goa_7c482549_uniq UNIQUE (mentorshipsession_id, goal_id);


--
-- Name: progress_tracking_mentorshipsession_goals_discussed progress_tracking_mentorshipsession_goals_discussed_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_mentorshipsession_goals_discussed
    ADD CONSTRAINT progress_tracking_mentorshipsession_goals_discussed_pkey PRIMARY KEY (id);


--
-- Name: progress_tracking_mentorshipsession progress_tracking_mentorshipsession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_mentorshipsession
    ADD CONSTRAINT progress_tracking_mentorshipsession_pkey PRIMARY KEY (id);


--
-- Name: progress_tracking_progressentry progress_tracking_progressentry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_progressentry
    ADD CONSTRAINT progress_tracking_progressentry_pkey PRIMARY KEY (id);


--
-- Name: reports_report reports_report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_report
    ADD CONSTRAINT reports_report_pkey PRIMARY KEY (id);


--
-- Name: resources_resource resources_resource_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resources_resource
    ADD CONSTRAINT resources_resource_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: mentorship_feedback_mentee_id_51bcb4f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_feedback_mentee_id_51bcb4f0 ON public.mentorship_feedback USING btree (mentee_id);


--
-- Name: mentorship_feedback_mentor_id_75eae345; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_feedback_mentor_id_75eae345 ON public.mentorship_feedback USING btree (mentor_id);


--
-- Name: mentorship_feedback_session_id_11e3240e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_feedback_session_id_11e3240e ON public.mentorship_feedback USING btree (session_id);


--
-- Name: mentorship_interest_name_70150db6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_interest_name_70150db6_like ON public.mentorship_interest USING btree (name varchar_pattern_ops);


--
-- Name: mentorship_mentee_interests_interest_id_1fc9ca3b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentee_interests_interest_id_1fc9ca3b ON public.mentorship_mentee_interests USING btree (interest_id);


--
-- Name: mentorship_mentee_interests_mentee_id_0654634c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentee_interests_mentee_id_0654634c ON public.mentorship_mentee_interests USING btree (mentee_id);


--
-- Name: mentorship_mentor_expertise_interest_id_4517ea37; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentor_expertise_interest_id_4517ea37 ON public.mentorship_mentor_expertise USING btree (interest_id);


--
-- Name: mentorship_mentor_expertise_mentor_id_2681f637; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentor_expertise_mentor_id_2681f637 ON public.mentorship_mentor_expertise USING btree (mentor_id);


--
-- Name: mentorship_mentorevaluation_mentee_id_b136e7ee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentorevaluation_mentee_id_b136e7ee ON public.mentorship_mentorevaluation USING btree (mentee_id);


--
-- Name: mentorship_mentorevaluation_mentor_id_ab5b9299; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentorevaluation_mentor_id_ab5b9299 ON public.mentorship_mentorevaluation USING btree (mentor_id);


--
-- Name: mentorship_mentorevaluation_session_id_7051b0df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentorevaluation_session_id_7051b0df ON public.mentorship_mentorevaluation USING btree (session_id);


--
-- Name: mentorship_mentorshiprequest_mentee_id_e12eeda9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentorshiprequest_mentee_id_e12eeda9 ON public.mentorship_mentorshiprequest USING btree (mentee_id);


--
-- Name: mentorship_mentorshiprequest_mentor_id_e37f6cbc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_mentorshiprequest_mentor_id_e37f6cbc ON public.mentorship_mentorshiprequest USING btree (mentor_id);


--
-- Name: mentorship_message_mentorship_request_id_49d08a34; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_message_mentorship_request_id_49d08a34 ON public.mentorship_message USING btree (mentorship_request_id);


--
-- Name: mentorship_message_recipient_id_de02b18b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_message_recipient_id_de02b18b ON public.mentorship_message USING btree (recipient_id);


--
-- Name: mentorship_message_sender_id_a27f4846; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_message_sender_id_a27f4846 ON public.mentorship_message USING btree (sender_id);


--
-- Name: mentorship_notification_recipient_id_e8adb219; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_notification_recipient_id_e8adb219 ON public.mentorship_notification USING btree (recipient_id);


--
-- Name: mentorship_notification_related_request_id_7c4911be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_notification_related_request_id_7c4911be ON public.mentorship_notification USING btree (related_request_id);


--
-- Name: mentorship_session_mentorship_request_id_5d315b7d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mentorship_session_mentorship_request_id_5d315b7d ON public.mentorship_session USING btree (mentorship_request_id);


--
-- Name: progress_tracking_goal_mentee_id_9ae30450; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_goal_mentee_id_9ae30450 ON public.progress_tracking_goal USING btree (mentee_id);


--
-- Name: progress_tracking_goal_mentor_id_65ba5038; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_goal_mentor_id_65ba5038 ON public.progress_tracking_goal USING btree (mentor_id);


--
-- Name: progress_tracking_mentorsh_goal_id_c929606b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_mentorsh_goal_id_c929606b ON public.progress_tracking_mentorshipsession_goals_discussed USING btree (goal_id);


--
-- Name: progress_tracking_mentorsh_mentorshipsession_id_875b7503; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_mentorsh_mentorshipsession_id_875b7503 ON public.progress_tracking_mentorshipsession_goals_discussed USING btree (mentorshipsession_id);


--
-- Name: progress_tracking_mentorshipsession_mentee_id_14936c23; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_mentorshipsession_mentee_id_14936c23 ON public.progress_tracking_mentorshipsession USING btree (mentee_id);


--
-- Name: progress_tracking_mentorshipsession_mentor_id_38641456; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_mentorshipsession_mentor_id_38641456 ON public.progress_tracking_mentorshipsession USING btree (mentor_id);


--
-- Name: progress_tracking_progressentry_goal_id_a11295fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_progressentry_goal_id_a11295fb ON public.progress_tracking_progressentry USING btree (goal_id);


--
-- Name: progress_tracking_progressentry_recorded_by_id_c18d11c1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX progress_tracking_progressentry_recorded_by_id_c18d11c1 ON public.progress_tracking_progressentry USING btree (recorded_by_id);


--
-- Name: reports_report_generated_by_id_17b52253; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reports_report_generated_by_id_17b52253 ON public.reports_report USING btree (generated_by_id);


--
-- Name: resources_resource_uploader_id_a65fad4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX resources_resource_uploader_id_a65fad4b ON public.resources_resource USING btree (uploader_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_feedback mentorship_feedback_mentee_id_51bcb4f0_fk_mentorship_mentee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_feedback
    ADD CONSTRAINT mentorship_feedback_mentee_id_51bcb4f0_fk_mentorship_mentee_id FOREIGN KEY (mentee_id) REFERENCES public.mentorship_mentee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_feedback mentorship_feedback_mentor_id_75eae345_fk_mentorship_mentor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_feedback
    ADD CONSTRAINT mentorship_feedback_mentor_id_75eae345_fk_mentorship_mentor_id FOREIGN KEY (mentor_id) REFERENCES public.mentorship_mentor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_feedback mentorship_feedback_session_id_11e3240e_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_feedback
    ADD CONSTRAINT mentorship_feedback_session_id_11e3240e_fk_mentorshi FOREIGN KEY (session_id) REFERENCES public.mentorship_session(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentee_interests mentorship_mentee_in_interest_id_1fc9ca3b_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentee_interests
    ADD CONSTRAINT mentorship_mentee_in_interest_id_1fc9ca3b_fk_mentorshi FOREIGN KEY (interest_id) REFERENCES public.mentorship_interest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentee_interests mentorship_mentee_in_mentee_id_0654634c_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentee_interests
    ADD CONSTRAINT mentorship_mentee_in_mentee_id_0654634c_fk_mentorshi FOREIGN KEY (mentee_id) REFERENCES public.mentorship_mentee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentee mentorship_mentee_user_id_78def8c7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentee
    ADD CONSTRAINT mentorship_mentee_user_id_78def8c7_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentor_expertise mentorship_mentor_ex_interest_id_4517ea37_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentor_expertise
    ADD CONSTRAINT mentorship_mentor_ex_interest_id_4517ea37_fk_mentorshi FOREIGN KEY (interest_id) REFERENCES public.mentorship_interest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentor_expertise mentorship_mentor_ex_mentor_id_2681f637_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentor_expertise
    ADD CONSTRAINT mentorship_mentor_ex_mentor_id_2681f637_fk_mentorshi FOREIGN KEY (mentor_id) REFERENCES public.mentorship_mentor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentor mentorship_mentor_user_id_af73a076_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentor
    ADD CONSTRAINT mentorship_mentor_user_id_af73a076_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentorevaluation mentorship_mentoreva_mentee_id_b136e7ee_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorevaluation
    ADD CONSTRAINT mentorship_mentoreva_mentee_id_b136e7ee_fk_mentorshi FOREIGN KEY (mentee_id) REFERENCES public.mentorship_mentee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentorevaluation mentorship_mentoreva_mentor_id_ab5b9299_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorevaluation
    ADD CONSTRAINT mentorship_mentoreva_mentor_id_ab5b9299_fk_mentorshi FOREIGN KEY (mentor_id) REFERENCES public.mentorship_mentor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentorevaluation mentorship_mentoreva_session_id_7051b0df_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorevaluation
    ADD CONSTRAINT mentorship_mentoreva_session_id_7051b0df_fk_mentorshi FOREIGN KEY (session_id) REFERENCES public.mentorship_session(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentorshiprequest mentorship_mentorshi_mentee_id_e12eeda9_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorshiprequest
    ADD CONSTRAINT mentorship_mentorshi_mentee_id_e12eeda9_fk_mentorshi FOREIGN KEY (mentee_id) REFERENCES public.mentorship_mentee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_mentorshiprequest mentorship_mentorshi_mentor_id_e37f6cbc_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_mentorshiprequest
    ADD CONSTRAINT mentorship_mentorshi_mentor_id_e37f6cbc_fk_mentorshi FOREIGN KEY (mentor_id) REFERENCES public.mentorship_mentor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_message mentorship_message_mentorship_request_i_49d08a34_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_message
    ADD CONSTRAINT mentorship_message_mentorship_request_i_49d08a34_fk_mentorshi FOREIGN KEY (mentorship_request_id) REFERENCES public.mentorship_mentorshiprequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_message mentorship_message_recipient_id_de02b18b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_message
    ADD CONSTRAINT mentorship_message_recipient_id_de02b18b_fk_auth_user_id FOREIGN KEY (recipient_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_message mentorship_message_sender_id_a27f4846_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_message
    ADD CONSTRAINT mentorship_message_sender_id_a27f4846_fk_auth_user_id FOREIGN KEY (sender_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_notification mentorship_notificat_related_request_id_7c4911be_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_notification
    ADD CONSTRAINT mentorship_notificat_related_request_id_7c4911be_fk_mentorshi FOREIGN KEY (related_request_id) REFERENCES public.mentorship_mentorshiprequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_notification mentorship_notification_recipient_id_e8adb219_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_notification
    ADD CONSTRAINT mentorship_notification_recipient_id_e8adb219_fk_auth_user_id FOREIGN KEY (recipient_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mentorship_session mentorship_session_mentorship_request_i_5d315b7d_fk_mentorshi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentorship_session
    ADD CONSTRAINT mentorship_session_mentorship_request_i_5d315b7d_fk_mentorshi FOREIGN KEY (mentorship_request_id) REFERENCES public.mentorship_mentorshiprequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_goal progress_tracking_goal_mentee_id_9ae30450_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_goal
    ADD CONSTRAINT progress_tracking_goal_mentee_id_9ae30450_fk_auth_user_id FOREIGN KEY (mentee_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_goal progress_tracking_goal_mentor_id_65ba5038_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_goal
    ADD CONSTRAINT progress_tracking_goal_mentor_id_65ba5038_fk_auth_user_id FOREIGN KEY (mentor_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_mentorshipsession_goals_discussed progress_tracking_me_goal_id_c929606b_fk_progress_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_mentorshipsession_goals_discussed
    ADD CONSTRAINT progress_tracking_me_goal_id_c929606b_fk_progress_ FOREIGN KEY (goal_id) REFERENCES public.progress_tracking_goal(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_mentorshipsession progress_tracking_me_mentee_id_14936c23_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_mentorshipsession
    ADD CONSTRAINT progress_tracking_me_mentee_id_14936c23_fk_auth_user FOREIGN KEY (mentee_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_mentorshipsession progress_tracking_me_mentor_id_38641456_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_mentorshipsession
    ADD CONSTRAINT progress_tracking_me_mentor_id_38641456_fk_auth_user FOREIGN KEY (mentor_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_mentorshipsession_goals_discussed progress_tracking_me_mentorshipsession_id_875b7503_fk_progress_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_mentorshipsession_goals_discussed
    ADD CONSTRAINT progress_tracking_me_mentorshipsession_id_875b7503_fk_progress_ FOREIGN KEY (mentorshipsession_id) REFERENCES public.progress_tracking_mentorshipsession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_progressentry progress_tracking_pr_goal_id_a11295fb_fk_progress_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_progressentry
    ADD CONSTRAINT progress_tracking_pr_goal_id_a11295fb_fk_progress_ FOREIGN KEY (goal_id) REFERENCES public.progress_tracking_goal(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_tracking_progressentry progress_tracking_pr_recorded_by_id_c18d11c1_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_tracking_progressentry
    ADD CONSTRAINT progress_tracking_pr_recorded_by_id_c18d11c1_fk_auth_user FOREIGN KEY (recorded_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reports_report reports_report_generated_by_id_17b52253_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_report
    ADD CONSTRAINT reports_report_generated_by_id_17b52253_fk_auth_user_id FOREIGN KEY (generated_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: resources_resource resources_resource_uploader_id_a65fad4b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resources_resource
    ADD CONSTRAINT resources_resource_uploader_id_a65fad4b_fk_auth_user_id FOREIGN KEY (uploader_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

